setuptools>=34
wheel
simplejson
Flask
Flask-Babel
Flask-cors
netifaces; sys_platform != "win32"
pyusb
pyserial
Pillow
git+https://github.com/akretion/py-xml-escpos.git@py3
pywin32; sys_platform == "win32"
pywin32-ctypes; sys_platform == "win32"
pycups; sys_platform == "linux"
pymtp; sys_platform == "linux"
pypostelium; sys_platform == "linux"
pyposdisplay; sys_platform == "linux"
polib
